
body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
}

.top-bar {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.top-bar-container {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.top-bar-container-destro {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.categorie {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 18px;
}

.categorie-no-link {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 18px;
}

.categorie:hover {
    border-bottom: 3px solid black;
}

.riquadro-blu {
    background-color: #0061fe;
    color: white;
    padding: 7px 11px;
    text-align: center;
}

.riquadro-blu:hover {
    background-color: #66c2f2;
}

/*jumbotron*/

.jumbotron {
    background-color: #b4d0e6;
}

.container-jumbotron {
    width: 60%;
    margin: 0 auto;
    position: relative;
    bottom: -98px;
}

.titolo {
    font-size: 60px;
    margin: 0;
    margin-bottom: 50px;
}

.jumbotron-sottoparagrafo {
    width: 100%;
    margin: 0 auto;
    display: flex;

}

.jumbotron-paragrafo {
    width: 35%;
    height: 500px;
}

.jumbotron-paragrafo-2 {
    margin-bottom: 45px;
    margin-top: 45px;
}

.down-arrow {
    font-size: 45px;
    margin-top: 45px;
}

.jumbotron-riquadro-foto {
    width: 50%;
    height: 450px;
}

.jumbotron-pic {
    max-height: 100%;
    position: relative;

}

p {
    margin-top: 0;
}

.jumbotron a {
    color: #000000;
}

/*main*/

.container-main {
    margin-left: 15%;
    width: 70%;
    /*debug*/
}

main h1 {
    margin-top: 120px;
    font-size: 34px;
}

main h2 {
    font-size: 25px;
    margin-top: 0;
}

.fatturazioni {
    margin-top: 55px;
    margin-bottom: 40px;
}

.fatturazione-distacco {
    margin-right: 40px;
}

/*.cerchio-vuoto {
    border-radius: 50%;
    border-color: grey;
    border: solid 2px;
    padding: 0.5px 11px;
}*/

.row-main {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    display: flex;
    align-items: stretch;
}

.divisorio-colonna {
    background-color: grey; 
    width: 40px; 
    height: 0.5px;
    margin-top: 39px;
    margin-bottom: 57px;
}

.main-column {
    width: calc((100% / 3) - (105px / 3));
    border: solid 1px grey;
}

.quantita {
    text-align: center;
    padding: 9px;
    border-bottom: solid 1px grey;   
}

.quantita-team {
    margin-top: 40px;
    border: solid 1px grey;
    text-align: center;
    padding: 9px;
}

.piani {
    padding: 20px 30px;
    font-size: 13px;
}

.centratura {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 25px;
}

main hr {
    margin-top: 40px;
    margin-bottom: 55px;
}

main li {
    margin-bottom: 20px;
    margin-left: -11px;
}

.team {
    border: solid 1px grey;
    padding: 20px 30px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.partner {
    display: flex;
    gap: 50px;
    margin-top: 200px;
}

.immagine-partner {
    width: 60%;
}

.immagine-partner img {
  display: block;
  margin: 0 auto;
  max-width: 100%; 
  height: auto;
}

.testo-partner {
    width: 30%;
    margin-top: 30px;
}

.riquadro-nero {
    padding: 7px 11px;
    border: 2px solid black;
    text-align: center;
    width: 150px;
}

.row-azioni {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.column-azioni {
    width: calc((100% / 3) - (50px / 3))
}

.column-azioni img {
  display: flex;
  margin: 0 auto;
  max-width: 100%; 
  height: auto;
}

/*footer*/

footer {
    background-color: #000000;
}

.container-footer {
    width: 80%;
    margin: 0 auto;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    color: white;
}

.footer-column {
    width: calc((100% / 5) - (50px / 5));
}

.footer-titolo {
    font-size: 17px;
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
}

footer li {
    margin-bottom: 6px;
}

footer a {
    font-size: 13px;
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.sottocolonna {
    margin-top: 30px;
    font-size: 10px;
    color: #859298;
}

footer hr {
    margin-top: 20px;
}

.divisorio-footer {
    background-color: white; 
    height: 0.5px;
    width: 80%;
    margin-top: 100px;
}