main {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

header {
    display: flex;
    align-content: space-between;
}

.container-header {
    width: 30%;
    /*debug*/
    height: 100px;
    background-color: aquamarine;
}